<html>
<head>
	<link rel="stylesheet" href="index.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js">
	</script>
</head>

<body>

	<div id="app">
		<span v-bind:title="message">
            wait
            </span>
        </div>

        <div id="app1">
          <p v-if="seen"> you can see </p>
        </div>

        <div id="app2">
          <p>{{ message2 }}</p>
          <button v-on:click="reverseM">reverse</button>
        </div>

        <div id="app3">
          <p>{{ foo }}</p>
          <button v-on:click="foo = 'def'">change</button>
        </div>

        <div id="app4">
          <p>{{ fullName }}</p>
        </div>

        <div id="app5">
          <li v-for="n in evenNumbers">{{ n }}</li>
        </div>
        <div id="blog-post">
           <blog-post post-title="hello!"></blog-post>
        </div>
        <div id="app6">
          <button v-on:click="show = !show">
          Toggle
          </button>
          <transition name="slide-fade">
            <p v-if="show">hello</p>
          </transition>
          </div>

          <div id="app7">
             <button @click="show = !show">
               Toggle
             </button>
            <transition
             v-on:before-enter="beforeEnter"
             v-on:enter="enter"
              v-on:leave="leave"
              v-bind:css="false">
            <p v-if="show">Demo </p>
            </transition>
          </div>        

        <script src="index.js"></script>
    </body>

    <style>
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
 </style>
  
</html>